{% extends 'common.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" href={% static 'product.css' %}>
{% endblock styles %}
{% block content %}
    <div class="products">
    {% for product in products %}
        <div class="card" style="width: 18rem;">
          <img src="{{ product.productimage_set.all.0.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{ product.description }}</p>
            <a href="#" class="btn btn-primary">Перейти к товару</a>
          </div>
        </div>
        <div>
            <hr>
            <p>Название: {{ product.title }}</p>
            <p>Описание: {{ product.description }}</p>
            <p>Цена: {{ product.price }}</p>
            <p style="{% if product.stock == 0 %}color: red; {% endif %}">Наличие: {{ product.stock }}</p>
            <p>Свойства:</p>
            <ul>
                {% for attribute in product.attributes.all %}
                    <li>{{ attribute.name }}</li>
                {% endfor %}
            </ul>
            <hr>
        </div>
    {% endfor %}
    </div>
{% endblock content %}